.todoItemsContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #000000;
}
.DeleteButton{
    margin-left: 10px !important;
}
.todoItem{
    width: 100%;
}
.doneBtn{
   margin: 0;
}
.lockBtn{
    margin-right: 10px !important;
}
.buttonContainer{
    display: flex;
    width: 100%;
}
.edtDltBtn{
    margin-left: 10px;
    display: flex;
}
.dltEdtSaveBtn{
    padding: 10px 0;
}